<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %> 
          <ul>
            <% products.forEach(p=>{ %>
           <div>
            <li><%=p.title %>(<%=p.quantity %>) 
            <form action="/delete-cart" method="POST">
              <input type="hidden" name="productId" value="<%=p._id %>">
              <button type="submit">delete</button>
            </form>
            </li>
           </div>
            <% }) %>
          </ul>
        <hr/>
          <div class="centered">
            <form action="/create-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
            <% } else { %> 
                <h1>No product in here</h1>
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>