<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %> 
          <ul>
            <% products.forEach(p=>{ %>
           <div>
            <li><%=p.productId.title %>(<%=p.quantity %>) 
            <form action="/delete-cart" method="POST">
              <input type="hidden" name="productId" value="<%=p.productId._id %>">
              <input type="hidden" name="_csrf" value="<%=csrfToken %>">
              <button type="submit">delete</button>
            </form>
            </li>
           </div>
            <% }) %>
          </ul>
        <hr/>
          <div class="centered">
            <!-- <form action="/create-order" method="POST">
              <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <button type="submit" class="btn">Order Now!</button>
            </form> -->
            <a class="btn" href="/checkout"> Order Now !</a>
        </div>
            <% } else { %> 
                <h1>No product in here</h1>
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>